@using PermitChecker.Models;


@model Permission

@using (Html.BeginForm("AddPermission", "PermitChecker", FormMethod.Post))

{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Your Razor Page</title>
        <link rel="stylesheet" href="~/css/mystyles.css" asp-append-version="true" />
        <style>

            #panel {
                width: 400px;
                margin: 0 auto;
                padding: 15px 0 0;
                background: #fff;
                border: 1px solid silver;
                font: 16px calibri;
                letter-spacing: -1px;
                -webkit-box-shadow: 0 0 2px silver;
                -moz-box-shadow: 0 0 2px silver;
                box-shadow: 0 0 2px silver;
            }

            label {
                display: block;
                width: 260px;
                padding: 10px 20px;
                color: #696969;
                font-size: 16px;
                text-shadow: 0 0 1px silver;
            }

            #place, #company, #rangeOfHours, #startDate, #endDate, #description, #asist, #building {
                display: block;
                width: 360px;
                margin: 0 auto;
                padding: 10px 5px;
                border: 1px solid silver;
                outline: 5px solid #ebebeb;
                font-size: 22px;
            }

                #place:focus, #company:focus, #rangeOfHours:focus, #startDate:focus, #endDate:focus, #description:focus, #asist:focus, #building:focus {
                    outline: 5px solid #e5f2f8;
                }

            #lower {
                background: #ecf2f5;
                width: 100%;
                padding: 5px 20px;
                margin-top: 20px;
            }



            input[type="submit"] {
                width: 70px;
                padding: 5px 13px;
                border: 1px solid #005f85;
                color: white;
                text-shadow: 0 0 1px black;
                background: #98c9dc;
                position: left;
                left: 180px;
            }

            #panel, input[type="submit"] {
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }

        </style>
    </head>
    <body>
        <div id="panel">
            <form>

                <center><b>Dodaj Nową Awizacje</b></center>

                @Html.LabelFor(model => model.Place, "Miejsce Wykonywania Prac")
                @Html.TextBoxFor(model => model.Place, new {type = "text", id = "place"})

                @Html.LabelFor(model => model.Company, "Firma Wykonująca Prace")
                @Html.TextBoxFor(model => model.Company, new {type = "text", id = "company"})

                @Html.LabelFor(model => model.RangeOfHours, "Zakres Godzin")
                @Html.TextBoxFor(model => model.RangeOfHours, new {type = "text", id = "rangeOfHours"})

                @Html.LabelFor(model => model.StartDate, "Data Rozpoczęcia")
                @Html.TextBoxFor(model => model.StartDate,"{0:yyyy-MM-dd}", new {type = "date", id = "startDate"})

                @Html.LabelFor(model => model.EndDate, "Data Zakończenia")
                @Html.TextBoxFor(model => model.EndDate, "{0:yyyy-MM-dd}", new {type = "date", id = "endDate"})


                @Html.LabelFor(model => model.Description, "Rodzaj Wykonywanych Prac")
                @Html.TextBoxFor(model => model.Description, new {type = "text", id = "description"})

                @Html.LabelFor(model => model.Asist, "Czy Potrzeba Asysty")
                <select id="asist" name="Asist">
                    <option value="Tak">Tak</option>
                    <option value="Nie">Nie</option>
                </select>
               

                @Html.LabelFor(model => model.BuildingID, "Wybierz Budynek")
                <select id="building" name="BuildingId">
                    @foreach (var building in ViewBag.BuildingList)
                    {
                        <option value="@building.Id" data-buildingname="@building.Name">@building.Name</option>
                    }
                </select>









                <div id="lower">

                    <input type="submit" value="Dodaj">
                </div>
            </form>
        </div>
    </body>
    </html>
}

























