@using PermitChecker.Models;


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Your Razor Page</title>
    <link rel="stylesheet" href="~/css/mystyles.css" asp-append-version="true" />
    <script>

        function printDiv() {
            var printContents = document.getElementById('printableDiv').innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }
    </script>


    <style>



        #panel {
            width: 100%;
            margin: 0 auto;
            padding: 15px 0 0;
            background: #fff;
            border: 1px solid silver;
            font: 16px calibri;
            letter-spacing: -1px;
            -webkit-box-shadow: 0 0 2px silver;
            -moz-box-shadow: 0 0 2px silver;
            box-shadow: 0 0 2px silver;
        }

        label {
            display: block;
            width: 260px;
            padding: 10px 20px;
            color: #696969;
            font-size: 16px;
            text-shadow: 0 0 1px silver;
        }






        .button {
            display: inline-block;
            padding: 10px 20px;
            background: #98c9dc;
            border: 1px solid #005f85;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
            text-align: center;
            width: 100%;
            text-shadow: 0 0 1px black;
        }

            .button:hover {
                background: #98c9dc;
                border: 1px solid #005f85;
                color: white;
                text-decoration: none;
                border-radius: 5px;
                cursor: pointer;
                text-align: center;
                width: 100%;
                text-shadow: 0 0 1px black;
            }



        #panel {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div id="panel">
        <form>
            <div id="printableDiv">
                <table class="table">

                    <tbody>

                        @model List<BuildingPermissionViewModel>

                        @foreach (var item in Model)
                        {
                            <tr><td><center><h2> Budynek @item.Buildings.Name</h2></center></td></tr>
                            <tr style="background-color: #98c9dc;">



                                <td><b>Gdzie</b></td>
                                <td><b>Wykonawca</b></td>
                                <td><b>Od Kiedy</b></td>
                                <td><b>Do Kiedy</b></td>
                                <td><b>W Jakich Godzinach</b></td>
                                <td><b>Wykonywane Prace</b></td>
                                <td><b>Asysta</b></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>





                            @foreach (var permission in item.Permissions)
                            {
                                <tr>
                                    <td>@permission.Place</td>
                                    <td>@permission.Company</td>
                                    <td>@permission.StartDate.ToString("dd-MM-yyyy")</td>
                                    <td>@permission.EndDate.ToString("dd-MM-yyyy")</td>
                                    <td>@permission.RangeOfHours</td>
                                    <td>@permission.Description</td>
                                    <td>@permission.Asist</td>
                                    <td><a href="@Url.Action("DeletePermission", "PermitChecker", new { id = permission.Id })" class="button">Usuń Awizacje</a></td>
                                    <td><a href="@Url.Action("EditPermission", "PermitChecker", new { id = permission.Id })" class="button">Edytuj Awizacje</a></td>
                                </tr>
                            }


                        }

                </table>

                <td><button onclick="printDiv()" class="button">Print</button></td>
            </div>
        </form>
    </div>

</body>
</html>



























